<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RenderFarm</title>
</head>
<body>
<h1>Регистрация</h1>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <form class="form_auth_style" action="/addUser" method="post">
            <label>Введите имя:</label>
            <input type="firstName" name="firstName" placeholder="Имя" required>
            <br>
            <br>
            <label>Введите фамилию:</label>
            <input type="lastName" name="lastName" placeholder="Фамилия" required>
            <br>
            <br>
            <label>Введите email:</label>
            <input type="email" name="email" placeholder="email" required>
            <br>
            <br>
            <label>Введите пароль:</label>
            <input type="password" name="password" placeholder="Пароль" required>
            <br>
            <br>
            <button class="form_auth_button" type="submit" name="form_auth_submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
</body>
</html>