<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RenderFarm</title>
</head>
<body>
<h1>Авторизация</h1>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <form class="form_auth_style" action="#" method="post">
            <label>Введите email:</label>
            <input type="email" name="auth_email" placeholder="Введите Ваш имейл" required >
            <label>Введите пароль:</label>
            <input type="password" name="auth_pass" placeholder="Введите пароль" required >
            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
        </form>
    </div>
</div>
<div>
    <a th:href="'/signIn_page/'">Регистрация</a>
</div>
</body>
</html>