<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RenderFarm</title>
</head>
<body>
<h1>Личный кабинет</h1>
<h2 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h2>
<div>
    <p>Все задачи</p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <tr th:each="element : ${taskList}">
            <td th:text="${element.getId()}"></td>
            <td th:text="${element.getRenderStatus()}"></td>
            <td><a th:href="'/showHistory/'+ ${element.getId()}" method="get">Посмотреть историю изменения статусов</a>
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<div>
    <p>Текущие задачи</p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Статус</th>
            <th>Время постановки задачи</th>
        </tr>
        <tr th:each="element : ${currentTaskList}">
            <td th:text="${element.getId()}"></td>
            <td th:text="${element.getRenderStatus()}"></td>
            <td th:text="${element.getCreateTime()}"></td>
        </tr>
    </table>
</div>
<br>
<br>
<div>
    <form action="/addTask" method="post">
        <button type="submit">Создать задачу</button>
    </form>
</div>
<br>
<br>
<a href="/logout">Выйти</a>
</body>
</html>